html, body {
  min-height: 100%;
}

@keyframes gradientShift {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 50%;
  }
   100% {
      background-position: 100%;
   }
}

body {
 overflow-x: hidden;
 font-family: Montserrat, sans-serif;
 background: 
   radial-gradient(
        rgba(255, 255, 255, 0.25) 15%,
        transparent 0
      ) 50% 0 / 20px 20px,
   linear-gradient(-45deg, #ffffff, #8e3a59, #000000, #8e3a59, #ffffff);
 background-size: 20px 20px, 400% 400%;
 background-color: rgb(40,40,40);
 padding: 10px 10px;
 animation: gradientShift 15s linear infinite;
}

header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 1.8em;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2rem;
}

/* HEADer */
.header-center {
 flex: 1;
 text-align: center;
 font-size: 1.5em;
 font-weight: bold;
}

/* Now for the main part */
.main {
 display: flex;
 color: white;
 padding: 20px;
}

img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
  grid-area: 1/1;
  object-fit: cover;
  transition: opacity 700ms;
}

/** container **/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  gap: 20px;
  width: 100%;
}

/** icon **/
.icon {
  width: 120px;
  height: 120px;
  margin-inline: auto;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  border-color: rgba(255, 255, 255, 0.2);
  border: solid 4px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1/1;
  transition: width 1000ms;
  translate: 0 10px;
}

/** cards **/
.cont-items {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  width: 40vw;
  height: 15vh;
  border: solid 5px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  transition: border-radius 500ms, opacity 500ms, width 500ms, height 500ms;
  user-select: none;
  isolation: isolate;
}

.info {
  grid-area: 1/1;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.container:hover {
   opacity: 1;
}

.container:hover > .cont-items:hover {
  opacity: 1;
  cursor: pointer;
  width: 80vw;
  height: 80vh;
  border-radius: 50px;
}

.cont-items.active {
  opacity: 1;
  width: 80vw;
  height: 80vh;
  border-radius: 50px;
}

.cont-items.active img {
  opacity: .8;
}

.cont-items.active .info {
  font-size: 1.8rem;
  padding: 0 10vw;
}

.cont-items:hover .info {
  font-size: 1.8rem;
  padding: 0 10vw;
}  

.container:hover > .cont-items:hover img {
  opacity: .8;
}
